Phone.css

/* Navigation */
section #navbar{
    flex-direction: column;
}
#navbar ul li a{
    flex-direction: row;
    font-size: 1rem;
    padding: 0px 5px;
    padding-bottom: 8px;
}
/* Home Section */
#home{
    height: 380px;
    padding: 0px 80px;
    
}
#home::before{
    height: 480px;
}
#home p{
    font-size: 13px;
}
#home::before{
    height: 480px;
    
}

/* services section */
#services{
    flex-direction: column;
}
#services .box { 
    padding: 14px;
    margin: 2px 0px; 
    margin-bottom: 20px;
}
/* clients section */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 66px;
    padding: 6px;
    height: auto;
}
/* Contact Us section */

/* footer */

/* Utility classes */
.h-primary{
    font-size: 25px;
    margin: auto;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;

}